@import "./style.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Poppins:wght@300;400&family=Roboto:wght@300;400;700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

.header img {
    width: 30%;
    height: 100px;
    margin-top: 15px;
}

.info{
    width: 100%;
    margin-top: 20px;
}

.info input{
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 60%;
    margin-top: 10px;
    font-family: montserrat;
}

.info #senha{
    width: 50%;
    margin-right: 5px;
    font-family: montserrat;
}

.info img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    background-color: var(--background2);
    border-style: none;
}


.info #enviar {
    background-color: var(--button);
    color: whitesmoke;
    width: 45%;
    margin-top: 20px;
    font-family: montserrat;
}

#enviar:hover{
    box-shadow: 3px 3px 3px 3px var(--light);
}

.container{
    width: 30vw;
    height: 55vh;
}

#eye{
    height:25px;
    /* padding-top: 100px; */
}




