@import url("../../style.css");

body {
    display: block;
    text-align: center;
}

img{
    width: 8%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#cliente{
    text-decoration: none;
    border-style: none;
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    width: 85%;
  }
  
#cliente:hover{
    font-size: 105%;
}

.modal-content{
    height: 70px;
    text-align: center;
}

.container{
    padding-top: 10px;
}

a{
    text-align: center;
    line-height: 30px; /* Defina a altura do botão */
    text-decoration: none;
    display: block;
    color: whitesmoke;
    margin: auto;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 20rem;
    margin-top: 10px;
    background-color: var(--button);
    border-style: none;
    margin-top: 10px;
    font-family: montserrat;
    font-size: 14px;
}

a:hover{
    box-shadow: 5px 5px 5px 5px var(--light);
}

.clientes{
    height: 200px;
}
  