@import url("../../style.css");

body {
    display: block;
    text-align: center;
}

img{
    width: 8%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#cliente{
    text-decoration: none;
    border-style: none;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    width: 85%;
  }
  
#cliente:hover{
    font-size: 105%;
}

.modal-content{
    height: 15vh;
    text-align: center;
}

.container {
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    min-height: 72vh;
    width: 490px;
    padding-top: 10px;
}
a{
    text-align: center;
    line-height: 30px; /* Defina a altura do botão */
    text-decoration: none;
    display: block;
    color: whitesmoke;
    margin: auto;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 20rem;
    margin-top: 10px;
    background-color: var(--button);
    border-style: none;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.clientes{
    height: 52vh;
}

label{
    font-family: "Poppins", sans-serif;
    font-size: 20;
    margin: 10px 0px 10px 0px;
}