@import url("../../style.css");

body {
    display: block;
    text-align: center;
}

img{
    width: 8%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#cliente{
    text-decoration: none;
    border-style: none;
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    width: 85%;
  }
  
#cliente:hover{
    font-size: 105%;
}

.modal-content{
    height: 70px;
    text-align: center;
}

.container{
    padding-top: 10px;
}
  