@import "../../style.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Poppins:wght@300;400&family=Roboto:wght@300;400;700&display=swap');
body {
    display: block;
    text-align: center;
}

img{
    width: 8%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container{
    height:30rem;

}

input{
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 20rem;
    margin-top: 10px;
    font-family: montserrat;
}

input[type="submit"]{
    background-color: var(--button);
    color: whitesmoke;
}

input[type="radio"] {
    -webkit-appearance: none; /* Desativa a aparência padrão do navegador */
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%; /* Torna o botão de rádio circular */
    width: 20px; /* Define a largura e altura do botão */
    height: 20px;
    background-color: #fff; /* Define a cor de fundo do botão */
    outline: none; /* Remove o contorno padrão do botão */
    margin-right: 10px;
} 

input[type="radio"]:checked {
    background-color: var(--button); /* Define a cor de fundo do botão quando selecionado */
}

.sub{
    margin-top: 30px;
    text-align: center;
}

input[type="submit"]:hover{
    box-shadow: 5px 5px 5px 5px var(--light);
}

a {
    text-align: center;
    line-height: 30px; /* Defina a altura do botão */
    text-decoration: none;
    display: block;
    color: whitesmoke;
    margin: auto;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 20rem;
    margin-top: 10px;
    background-color: var(--button);
    border-style: none;
    margin-top: 10px;
    font-family: montserrat;
    font-size: 14px;
}

a:hover{
    box-shadow: 5px 5px 5px 5px var(--light);
}