@import "../../style.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Poppins:wght@300;400&family=Roboto:wght@300;400;700&display=swap');
body {
    display: block;
    text-align: center;
}

img{
    width: 8%;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container {
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    min-height: 72vh;
    width: 490px;
    padding-top: 10px;
}


.modal-content-exc, .modal-content-pre{
    height: 5rem;
  }

#nome, #hora_inicio, #hora_final, #data, #valor, #desc, #telefone, #cad_cliente, #cliente{
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 25rem;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

#nome{
    width: 18rem;
}

#cliente{
    width:7rem;
}

#agendar{
    background-color: var(--button);
    color: whitesmoke;

}

input[type="radio"] {
    -webkit-appearance: none; /* Desativa a aparência padrão do navegador */
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%; /* Torna o botão de rádio circular */
    width: 20px; /* Define a largura e altura do botão */
    height: 20px;
    background-color: #fff; /* Define a cor de fundo do botão */
    outline: none; /* Remove o contorno padrão do botão */
    margin-right: 10px;
} 

input[type="radio"]:checked {
    background-color: var(--button); /* Define a cor de fundo do botão quando selecionado */
}

.sub{
    text-align: center;
    margin-top: 30px;
}

a, #agendar, #tel_button {
    text-align: center;
    line-height: 30px; /* Defina a altura do botão */
    text-decoration: none;
    display: block;
    color: whitesmoke;
    margin: auto;
    border-radius: 10px;
    border-style: none;
    height: 30px;
    width: 20rem;
    margin-top: 10px;
    background-color: var(--button);
    border-style: none;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}


.cliente{
    text-align: left;
    padding-left: 2rem;
    margin-top: 5px;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--background);
  }
  
  input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 5px;
    left: 400px;
    margin-left:5px;
  }
  