@import "../../style.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Poppins:wght@300;400&family=Roboto:wght@300;400;700&display=swap');

a {
    text-align: center;
    line-height: 40px; /* Defina a altura do botão */
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: whitesmoke;
    margin: auto;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--button);
    border-style: none;
    margin-top: 20px;
    font-family: montserrat;
}

a:hover{
    box-shadow: 5px 5px 10px 10px var(--light);
}

.buttons{
    margin: auto;
    width: 80%;
    font-family: montserrat;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat;
}